#container {
  padding: 1rem;
  width: 400px;
  text-align: center;
}

#list-container > div {
  display: flex;
  justify-content: space-evenly;
}

#list-header {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 500;
  margin: 1rem 0 0.5rem 0;
}

.text, .status {
  width:  50%;
}

h3 {
  padding-bottom: 0.5rem;
}